.row * {
    background-color: rgb(26, 150, 67);
}
.container {
    margin-top: 50px;
}

table {
    border: solid 3px;
    background-color: rgba(177, 177, 177, 0);
}

.th {
    border: solid 3px;
}

td {
    border: solid 1px
}

.btn-primary,
.btn-primary:hover {
    font-weight: bold;
    color: black;
}

.btn-primary:active {
    font-weight: bold;
    color: black;
    transform: scale(0.95);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);

}

.btn-primary:visited {
    font-weight: bold;
    color: black;
}

.btn-warning,
.btn-warning:hover {
    font-weight: bold;
    color: black;
}

.btn-warning:active {
    font-weight: bold;
    color: black;
    transform: scale(0.95);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.btn-warning:visited {
    font-weight: bold;
    color: black;
}

.btn-danger,
.btn-danger:hover {
    font-weight: bold;
    color: black;
}

.btn-danger:active {
    font-weight: bold;
    color: black;
    transform: scale(0.95);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.btn-danger:visited {
    font-weight: bold;
    color: black;
}